<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tian.video.editer">

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.GuideActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activity基类 -->
        <activity android:name=".activity.BaseActivity"

            />

        <!-- 网络广播监听 -->
        <receiver android:name=".broadcast.NetReceiver" />

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/title_activity_guide"
            android:theme="@style/AppTheme"></activity>


        <!--展示页面-->
        <activity android:name=".activity.SplashActivity"/>


    </application>

</manifest>